<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SpeakerAutoVolume.Presentation.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SpeakerAutoVolume.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\SpeakerAutoVolumeDatabase.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <SpeakerAutoVolume.Presentation.Settings>
      <setting name="ActivatedSchedule" serializeAs="String">
        <value />
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StubbornMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CultureInfo" serializeAs="String">
        <value />
      </setting>
    </SpeakerAutoVolume.Presentation.Settings>
  </userSettings>
</configuration>